.navbar-custom {
  height: 96px;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #D1D5DB;
}

.navbar-container {
  min-width: 1024px;
  max-width: var(--container-width);
  margin: 0 auto;
}

.nav-link-custom {
  color: #0A0A0A;
  font-size: var(--fs-normal);
  line-height: 150%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link-custom.active-link {
  background-color: var(--bg-footer);
  border-radius: 8px;
  color: #fff !important;
}
.links{
  gap: 12px;
}

.nav-link-custom.fw-medium {
  font-weight: 500;
}

.navbar-nav-custom {
  gap: 40px;
}

.langBtn {
  background-color: transparent;
}


.navbar-collapse.show {
  background:linear-gradient(var(--bg-footer) ,var( --bg-primary) ) ;
  color: white;
  padding: 1rem;
  z-index: 3;
  width: 100%;
  button{
    color: #fff;
  }
}

/* Make links white */
.navbar-collapse.show .nav-link {
  color: white !important;
}

/* Optional: Hover effect for clarity */
.navbar-collapse.show .nav-link:hover {
  text-decoration: underline;
} 