.navbar-custom {
  height: 96px;
  font-family: "Inter", sans-serif;
  border-bottom: 1px solid #d1d5db;
}

.navbar-container {
  min-width: 1024px;
  max-width: var(--container-width);
  margin: 0 auto;
}

.nav-link-custom {
  color: #0a0a0a;
  font-size: var(--fs-normal);
  line-height: 150%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link-custom.active-link {
  background-color: var(--bg-footer);
  border-radius: 8px;
  color: #fff !important;
}
.links {
  gap: 12px;
}

.nav-link-custom.fw-medium {
  font-weight: 500;
}

.navbar-nav-custom {
  gap: 40px;
}

.langBtn {
  color: var(--Color-Content-Tertiary1-Extra-dark);
  background-color: transparent;
}

.navbar-collapse{
  overflow: hidden;
  transition: min-height 0.5s ease-in-out;
  width: 100%; 
}

.navbar-collapse.show {
  background: var(--bg-accent);
  color: var(--Color-Content-Tertiary1-Extra-dark);
  z-index: 3;
  max-height: 100%;

 
}

/* Make links white */
.navbar-collapse.show .nav-link {
color: var(--Color-Content-Tertiary1-Extra-dark);

}


