*{
    font-family: 'Inter', sans-serif;
}
.hero{
  background-image: url("../../Assets/home/HeroBg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 6rem 2rem;
}

.HeroTxt1{
    color: var(--txt-extra-dark);
    font-size: 72px;
    font-weight: 800;
    line-height: 120%;
    max-width: 1000px;
    
    span{
        background: linear-gradient(90deg, var(--Color-Content-Secondary-Default) 38.83%, var(--txt-highlight) 76.85%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        
        
    }
    
}
.HeroPara{
    color: var(--Color-Content-Secondary-Dark);
    font-size: 24px;
    font-weight: 500;
        max-width: 870px;

    
}
.agencies{
    padding: 120px;
}
.agenciesHeader{
    max-width: 1400px;
    padding: 32px;
    gap: 96px;
    .agenciesHeaderTxt{

        color: var( --Color-Content-Secondary-Default);
        font-size: 20px;
        font-weight: 500;
        
        span{
            font-size: 32px;
            font-weight: 700;
            color: var(--Color-Content-Secondary-Dark);
        }
    }   
}
.agenciesLogos{
    gap: 20px 72px;
}
.img-fluid{
    width: 172px;
}

.services{
    max-width: 1400px;
    padding: 48px;
    background:var(--bg-secondary) ;
    border-radius: 50px;
    color: #fff;
}
.serviceLeft{
    max-width: 753px;
}
.serviceLeftName{
    font-size: 20px;
    font-weight: 700;

}
.serviceLeftTitle{
    font-size: 32px;
    font-weight: 700;
    span{
        font-size: 48px;
    }
}
.serviceLeftDesc{
    font-size: 20px;
    font-weight: 500;
}
.support-badge {
  background-color: #fff;
  border-radius: 999px;
  position: relative;
  top: 27px;
  left: 250px;
  z-index: 2;
  opacity: 0.9;
   color: #000;
}

.badge-circle {
   
  width: 36px;
  height: 36px;
  border: 2px solid #22c55e;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Optional: responsive tweak for very small screens */
@media (max-width: 999px) {
  .hero {
    padding: 4rem 1rem;
    background-attachment: scroll;
    background: none !important;
  }
      .HeroTxt1{
        font-size: 48px;
  }
  .HeroPara{
    font-size: 20px;
  }
 
  
}
@media (min-width:999px) {
    .HeroTxt1{
    max-width: 1000px;
  }
  .HeroPara{
    max-width: 870px;
  }
    
}