.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-primary) ; 
  border-radius: 12px;
}

.icon-box-lg {
  width: 76px;
  
  .iconSize{
    font-size: 24px;
    padding: 29px  21px;
  }
}

.icon-box-sm {
  width: 48px;
  height: 48px;
   .iconSize{
    font-size: 20px;
  }
}
@media (max-width:768px) {
  
/* Small size for icon box */
.icon-box-lg {
  width: 64px;
  height: 64px;
  .iconSize{
    font-size: 24px;
  }
}


  
}