.Partner {
  padding: var(--container-padding-lg);
  .heroAbout {
    max-width: 544px;
    gap: var(--container-gap-sm);
  }
  .Partner__container {
    padding: var(--container-padding);
    gap: var(--container-gap);
  }
  .heroAbout__title {
    color: var(--txt-highlight);
    font-size: var(--fs-md);
    font-weight: var(--fw-bolder);
  }
  .heroAbout__txt {
    color: var(--txt-extra-dark);
    font-size: var(--fs-xl);
    font-weight: var(--fw-bolder);
    line-height: 120%;
  }
  .heroAbout__desc {
    color: var(--txt-extra-dark);
    font-size: var(--fs-md);
    font-weight: var(--fw-medium);
    line-height: 140%;
  }
}

.OurStory {
  padding: var(--container-padding-lg);
}

.OurStory__container {
  max-width: var(--container-width) !important;
  padding: 0 var(--container-padding);
  gap: var(--container-gap);
  .OurStory__img {
    img {
      height: 600px;
      border-radius: 32px;
    }
  }
  .OurStory__txt {
    gap: var(--container-gap-sm);
    max-width: 620px;
    height: auto;
    .OurStory__title {
      color: var(--txt-extra-dark);
      font-size: var(--fs-xl);
      font-weight: var(--fw-bolder);
      line-height: 120%;
      margin-bottom: 120px;
    }
  }
  .OurStory__desc {
    h3 {
      color: var(--txt-highlight);
      font-size: 28px;
      font-weight: var(--fw-bolder);
      line-height: 130%;
    }
    h4 {
      color: var(--txt-extra-dark);
      font-size: var(--fs-md);
      font-weight: var(--fw-bold);
      line-height: 150%;
    }
    p {
      color: var(--txt-extra-dark);
      font-size: var(--card-para-fs);
      font-weight: var(--fw-medium);
    }
  }
}
.values {
  padding: var(--container-padding-lg);
}
.values__container {
  width: var(--container-width);
  padding: 0 var(--container-padding);
  gap: var(--container-gap);
  color: var(--txt-extra-dark);

  .values__title {
    font-size: var(--fs-xl);
    font-weight: var(--fw-bolder);
  }
  p {
    font-size: var(--card-para-fs);
    font-weight: var(--fw-medium);
    line-height: 150%;
  }
  .darkBg {
    background: var(--bg-secondary);
    border-radius: 24px;
  }
 
  .valuesHover {
    transition: all 0.3s ease-in-out;
  }
  .valuesHover:hover {
    transform: scale(1.05);
        box-shadow: 2px 2px 2px gray;

  }
  .fontShape {
    display: flex !important;
    width: 572px;
    h6 {
      font-size: var(--fs-md);
      font-weight: var(--fw-bolder);
    }
    p {
      font-size: var(--card-para-fs);
      font-weight: var(--fw-medium);
    }
  }
}
.leadership {
  padding: var(--container-padding-lg);
  .leadership__container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    gap: var(--container-gap);
  }

  .leaders__images {
    gap: 24px;
    img {
      width: 294px;
      height: 294px;
      border-radius: 50%;
    }
    h5 {
      font-size: var(--fs-sm);
      font-weight: var(--fw-bolder);
      color: var(--txt-extra-dark);
    }
    p {
      font-size: var(--fs-normal);
      color: var(--txt-highlight);
      font-weight: var(--fw-medium);
    }
  }
}
.title {
  color: var(--txt-extra-dark);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bolder);
  line-height: 120%;
}
.desc {
  font-size: var(--card-para-fs);
  color: var(--txt-extra-dark);
  font-weight: var(--fw-medium);
  line-height: 150%;
  max-width: 660px;
}
.certifications {
  padding: var(--container-padding-lg);
}
.fullCards {
  border-radius: 24px !important;
  width: 340px;
  height: 360px !important;

  h5 {
    font-size: var(--fs-sm);
    color: var(--txt-extra-dark);
    font-weight: var(--fw-bolder);
  }
  p {
    font-size: var(--fs-normal);
    font-weight: var(--fw-medium);
    color: var(--txt-extra-dark);
  }
}

@media (max-width: 768px) {
  .Partner {
    padding: var(--container-padding-sm);
  }
  .Partner__container {
    max-width: 360px;
    gap: var(--container-gap-sm) !important;
  }
  .heroAbout {
    gap: 20px !important;
  }
  .heroAbout__title {
    font-size: var(--fs-sm) !important;
  }
  .heroAbout__txt {
    font-size: var(--fs-lg) !important;
  }
  .heroAbout__desc {
    font-size: var(--card-para-fs) !important ;
  }
  .heroAbout__img {
    img {
      max-width: 160px;
    }
  }

  .OurStory {
    padding: 0 var(--container-padding-sm) !important;
  }
  .OurStory__container {
    max-width: 360px !important;
    gap: var(--container-gap-sm);
  }
  .OurStory__title {
    font-size: var(--fs-lg) !important;
    margin-bottom: 10px !important;
  }
  .OurStory__desc {
    h3 {
      font-size: var(--fs-sm) !important;
    }
    h4 {
      font-size: var(--fs-sm) !important;
    }
    p {
      font-size: var(--fs-normal) !important;
    }
  }
  .OurStory__img {
    img {
      width: 100%;
      height: auto !important;
      height: 225px;
    }
  }
  .fontShape {
    width: 280px !important;
    h6 {
      font-size: var(--fs-sm) !important;
    }
    p {
      font-size: var(--fs-normal) !important;
    }
  }

  .values {
    padding: 0 var(--container-padding-sm) !important;
  }
  .values__container {
    gap: var(--container-gap-sm);
  }
  .values__txt {
    width: 320px !important;
  }
  .values__title {
    font-size: var(--fs-lg) !important;
  }
  .values__container p {
    font-size: var(--fs-normal) !important;
  }
  .leadership {
    padding: var(--container-padding-sm);
    .leadership__container {
      padding: 0 var(--container-padding-sm) !important;
      gap: var(--container-gap-sm) !important;
    }
  }
  .desc {
    font-size: var(--fs-normal) !important;
  }
  .title {
    font-size: var(--fs-lg) !important;
  }
  .leaders__images {
    gap: 12px !important;
    img {
      width: 180px !important;
      height: 180px !important;
    }
  }
  .certifications {
    padding: var(--container-padding-sm);
  }
  .fullCards {
    width: 280px;
    height: 310px !important;
  }
}
