.btns {
  /* Only top & bottom borders, in your custom color */
  border-top: 1px solid #2e1e51;
  border-bottom: 1px solid #2e1e51;
}
.search {
  border: 1px solid #e5e7eb !important;
}

.filter-btn {
  background: transparent;
  color: #2e1e51;
  border: 1px solid #2e1e51;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.filter-btn:hover {
  background-color: #2e1e51;
  color: #fff;
}

/* Active (selected) button style */
.filter-btn.active {
  background-color: #2e1e51;
  color: #fff;
}

.search-group .form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
@media (max-width: 1100px) {
  .filter-btn {
    padding: 0.25rem 0.5rem;
    font-size: 14px !important;
  }
}
@media (max-width: 480px) {
  .btns {
    text-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: 0;
    flex-wrap: nowrap;
  }
}
